#website_title {
    display: block;
    padding: 50px 35px 50px 35px;
    font-size: 20px;
    font-weight: bold;
}

#website_title span{
    padding-left: 20px;
}

#sidebar {
    background-color: #F4F5F7;
    width: 220px !important;
}